body {
  margin: 0;
  font-family: 'Libre Caslon Text', serif;
}

/* Main */ 

.drs_ima1 {
  max-width: 200px;
  animation-name: offHoverRoate;
  animation-duration: 1s;
}

.drs_ima1:hover {
  animation-fill-mode: forwards;
  animation-name: onHoverRoate;
  animation-duration: 1s;
  /* animation-delay: 0ms; */
}

@keyframes onHoverRoate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

@keyframes offHoverRoate {
  0% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
